<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout Start</title>
    <title>Workouts</title>
    <link
      rel="shortcut icon"
      href="../../static/favicon.ico"
      type="image/x-icon"
    />
    <link href="../../../static/css/style.css" rel="stylesheet" />
    <link href="../../../static/css/toasts.css" rel="stylesheet" />
    <link href="../../../static/css/workout_start.css" rel="stylesheet" />
    <script src="../../../static/js/lib.js" type="text/javascript"></script>
    <script src="../../../static/js/toasts.js" type="text/javascript"></script>
  </head>

  <body>
    <!-- WORKOUT VIDEO PAGE START HERE -->

    {% if error %}
    <script>
      iziToast.show({
        color: "red",
        position: "topRight",
        message: "{{ error }}",
        timeout: 10000,
      });

      setTimeout(() => {
        window.location.href = "/dashboard";
      }, 10000);
    </script>
    {%else%}
    <section class="workout-video-page">
      <div class="main-video-wraps">
        <p class="info-text">Тело должно полностью помещаться в камеру</p>
        <div class="turn-text">Поверните свой телефон</div>
        <audio controls autoplay loop id="music">
          
        Your browser does not support the audio element.
        </audio>
        <div class="camera-video" id="div-video">
          <video
            src=""
            id="video"
            autoplay
            muted
            playsinline
            class="img-responsive"
          ></video>
        </div>
        <div class="time-duration">
          <div class="timer-wraps">
            <img src="../../static/images/timer.svg" alt="timer" />
            <div class="duration-wrap">
              <h5 id="time-label">Длительность</h5>
              <span id="timer">00:00</span>
            </div>
          </div>
          <div class="timer-wraps">
            <img src="../../static/images/steps.svg" alt="steps" />
            <div class="duration-wrap align-center">
              <h5 type="exercise-name">Повторения</h5>
              <span id="repetition-count">0</span>
            </div>
          </div>
        </div>
      </div>
      <div class="video-wraper">
        <div class="workout-name-wrap">
          <h5 type="exercise-name">Планка</h5>
          <div class="video-wrap">
            <video id="helper-video" class="img-responsive" loop muted playsinline webkit-playsinline preload="auto">
              Your browser does not support the video tag.
            </video>                
          </div>
          <button class="btn" id="complete-btn">Завершить</button>
        </div>
      </div>
    </section>
    <!-- WORKOUT VIDEO PAGE START HERE -->

    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div id="app"></div>
      </div>
    </div>

    <div id="screenModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <canvas style="padding: 0; display: block; margin: 0 auto;" id="canvas"></canvas>
        <div id="download-container" style="text-align: center; margin-top: 10px;">
      <!-- Здесь будет отображаться кнопка для скачивания скриншота -->
    </div>
      </div>
    </div>

    <script>
      var idx = {{ idx }};
      var workout = {{ workout| tojson }};
      var duration = {{ duration }};
      var exercise = "{{ exercise }}";

      if (exercise === "None") {
        exercise = null;
      }
    </script>

    {%endif%}

    <script
      src="../../../static/js/workout-start.js"
      type="text/javascript"
    ></script>
  </body>
</html>
